/* CSS declarations go here */

#wizard {
    width: 300px;
    height: 100%;
    background-color: yellow;
    position: absolute;
    left: 0px;
    z-index: 200;
}

#world {
    position: absolute;
    left: 300px;
    height: 100%;
    width: 100%;
}

.cobblestone {
    background-image: url('cobblestone.png');
    position: absolute;
    height: 96px;
    width: 128px;
}

.wireframe {
    background-image: url('wireframe.png');
    position: absolute;
    height: 96px;
    width: 128px;
}

.wireframe.negative {
    background-image: url('negative.png');
}
