/* CSS declarations go here */

#wizard {
    width: 300px;
    height: 100%;
    background-color: #CCF;
    position: absolute;
    left: 0px;
    z-index: 200;
    padding: 20px;
    margin: 0px;
    border: 2px inset #888;
}

#world {
    position: absolute;
    left: 300px;
    height: 100%;
    width: 100%;
}

.tile {
    position: absolute;
    height: 96px;
    width: 128px;
}

.cobblestone {
    background-image: url('cobblestone.png');
}

.bread {
    background-image: url('bread.png');
}

.coal {
    background-image: url('coal.png');
}

.wireframe {
    background-image: url('wireframe.png');
}

.wireframe.negative {
    background-image: url('negative.png');
}
